/*changed color to the grid to make it looker better for my project/*

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 896px;
    height: 896px;
}
.gridCell{
    width: 30px;
    height: 60px;
    border: 1px solid green;
    background-color: yellow;
}
.hallway{
    background-color: silver;
}
.wall{
    background-color: black;
}
.ghostLair{
    background-color: red;
}
.pellet{
    background-color: yellow;
    border-radius: 50%;
}
.powerPellet{
    background-color: orange;
    border-radius: 25%;
}
